.card-upper{
    display:flex;
    justify-content: space-between;
}
.card-bottom{
    display:flex;
    justify-content: space-between;
}
.card-heading{
    display:flex;
    flex-direction: column;
    gap:10px;
    font-family: Gilroy-Bold;
    font-size: 22px;
}
.side-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-distance{
    display:flex;
    align-items: center;
    gap:4px;
    font-size: 12px;
    font-family: Gilroy-Medium;
}
.card-favourite{
    border: 1px solid none;
    border-color: none;
    border-radius: 50%;
    padding:6px;
    width: 42px;
   height:42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Gilroy-Medium;

}
.border {
   width: 1px;
   height:55px;
    background-color: #ccc; 
  }
  .border-big {
    width: 1px;
    height:250px;
     background-color: #ccc;
   }
