.footer-main{
    padding: 2px 6rem 8px 6rem;
}
.footer-links{
    display: flex;
    color: white;
    gap: 8px;
    justify-content: center;
}
.footer-icons{
    display: flex;
    color: white;
    gap: 8px;
    justify-content: flex-end;
}
.footer-border{
    width: 1px;
    height:15px;
     background-color: #ccc;
}