
@font-face {
  font-family: Gilroy-SemiBold;
  src: url(../src//fonts/Gilroy-SemiBold.ttf);
}
@font-face {
  font-family: Gilroy-Medium;
  src: url(../src//fonts/Gilroy-Medium.ttf);
}
body {
  margin: 0;
  font-family: Gilroy-SemiBold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
